@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
  /* fonts */
  --font-display: "Outfit", "sans-serif";

  /* breakpoints */
  /* --breakpoint-3xl: 1920px; */
  --breakpoint-s_phone: 319px;
  --breakpoint-m_phone: 374px;
  --breakpoint-phone: 429px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop-sm: 900px;
  --breakpoint-laptop: 1023px;
  --breakpoint-desktop: 1439px;
  --breakpoint-_4k: 1920px;

  /* colors */
  --color-neon: #a6f100;
  --color-teal: #003e3e;
  --color-yellow: #f9c900;
  --color-orange: #ff8500;
  --color-dark: #111111;
  --color-white: #ffffff;

  /* gradient colors */
  --color-gradient-grey: hsla(0, 0%, 20%, 1);
  --color-gradient-black: hsla(0, 0%, 0%, 1);
  --color-gradient-blacklight: rgba(51, 51, 51, 1);
}

@layer base {
  body {
    font-family: "Rajdhani", sans-serif;
  }
}
.icon-glow {
  filter: drop-shadow(0 0 4px #a6f100);
}
/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #760302;
  border-radius: 4px;
}
.glow-box {
  animation: pulse 2s infinite;
}
.glow {
  filter: drop-shadow(0 0 6px currentColor);
}
.glow-text {
  text-shadow: 0 0 10px #a6f100;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(166, 241, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(166, 241, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(166, 241, 0, 0);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% { 
    transform: translateY(-10px);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}
.pattern-grid-lg {
  background-image: 
    linear-gradient(to right, currentColor 1px, transparent 1px),
    linear-gradient(to bottom, currentColor 1px, transparent 1px);
  background-size: 40px 40px;
}